*{
	margin: 0px;
	padding: 0px;
}
ul, ol{
	list-style: none;
}
a{
	text-decoration: none;
}
img{
	width: 100%;
}
.product-bg{
	background: #e4e5e9;
}

/*header section css start from here*/
#header{
	position: relative;
}
.navbar-brand a{
	display: inline-block;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 50px;
	color: #060606;
	font-weight: 700;
}
.navbar-brand {
	margin-right: 65px;
	font-family: 'Open Sans', sans-serif;
	display: inline-block;
	text-transform: uppercase;
	font-size: 30px;
	line-height: 50px;
	font-weight: 700;
	color: #060606;
	background: -webkit-linear-gradient(#10e677, #3bb777);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
}
.menu-list ul li{
	display: inline-block;
	margin-right: 10px;
}
.menu-list ul li a, .mobile-menu-list ul li a{
font-size: 17px;
line-height: 50px;
text-transform: uppercase;
color: #333;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
display: inline-block;
cursor: pointer;
padding-right: 30px; 
}
.menu-list ul li a:hover, .mobile-menu-list ul li a:hover, .mobile-menu-list ul li a.active, .menu-list ul li a.active{
	color: #24d278;
}
.nav-main {
    display: flex;
    flex-flow: wrap;
    padding: 0 80px;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
}
.right-menu li {
	display: inline-flex;
	align-items: center;
	margin-right: 40px;
	font-size: 17px;
    color: #fafafa;
}
.right-menu {
    margin-left: auto;
}
.login-id {
    font-size: 17px;
    line-height: 50px;
    text-transform: uppercase;
    color: #fafafa;
    font-family: "Helvetica";
}
.login-tab a i {
    margin-right: 5px;
}
#banner-section{
	background-image: url("../img/Banner and shpe.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 100%  100%;
	height: 731px;
	position: relative;
	width: 100%;
}
.banner-div{
display: flex;
align-items: center;
justify-content: space-between;
}
.banner-slider {
	position: absolute;
	left: 0;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
}
.banner-content h6{
font-size: 41px;
text-transform: uppercase;
color: #24d278;
line-height: 41px;
font-weight: 400;
font-family: 'Poppins', sans-serif;
margin-bottom: 26px;
}
.banner-content h1{
	font-size: 94px;
text-transform: uppercase;
color: #0a0101;
font-weight: 400;
font-family: 'Poppins', sans-serif;	
margin-bottom: 35px;	
line-height: 94px;
}
.banner-content p{
	font-size: 17px;
line-height: 25px;
color: #0a0101;
font-weight: 400;
font-family: 'Open Sans', sans-serif;
}
.banner-chair-img img{
	width: auto !important;
}
.play-btn{
	position: absolute;
    left: 63%;
    top: 58%;
    transform: translate(-50%, -50%);
}
.slide-number{
font-size: 30px;
line-height: 30px;
text-transform: uppercase;
color: #f4f5f7;
font-weight: 400;
font-family: 'Poppins', sans-serif;	
position: relative;	
}
span.slide-number:after {
    content: "";
    display: block;
    position: absolute;
    width: 43px;
    height: 1px;
    background: white;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    left: -6px;
}

/*slick slider css*/

 .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }
    .slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
.slick-dots li button{
	background: #24d278;
	border-radius: 50%;
}
.slick-dots li.slick-active button{
	background: #333;
	border-radius: 50%;
}
.slick-dots li button:before
{
	content: none;
}
.slick-dots{
	bottom: -225px;
}
.slick-active{
	opacity: 1
}


/*title heaADING*/
.heading-title{
font-size: 40px;
line-height: 40px;
color: #121212;
font-weight: 400;
font-family: 'Poppins', sans-serif;	
margin-bottom: 106px;	
}
.heading-line{
	display: inline-block;
	width: 89px;
	height: 4px;
	background-color: #24d278;
	vertical-align: middle;
	margin-left: 20px;
}


/*Featured sectioon css*/
section.aboutus {
    margin: 90px 0px;
}
.product-desc p span{
	display: block;
	font-size: 22px;
line-height: 22px;
color: #24d278;
font-weight: 400;
font-family: 'Poppins', sans-serif;	
padding-bottom: 5px;
}
.product-desc{
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	width: 100%;
	bottom: 10px;
}
.product-desc p{
	font-size: 18px;
line-height: 18px;
color: #020202;
font-family: 'Poppins', sans-serif;	
font-weight: 400;
}
.product-img{
	position: relative;
	margin-bottom: 70px;
	overflow: hidden;	
}
.btn-block{
	padding: 15px 60px;
	border-radius: 21px;
	background-color: #121212;
	font-size: 17px;
	line-height: 17px;
	color: #fdfeff;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;	
	text-transform: capitalize;
}
.img-overlay{
	display: none;
	position: absolute;
	top: 0;
	left: 15px;
	right:0;
	bottom: 0;
}
.product-img:hover .img-overlay{ 
	display: block;
	transition: 1s all linear;
}
.product-img:hover .img-overlay img{
	width: auto;
}
.hover-block{
	position: absolute;
	left: 0;
	top: 0;
	background: #000;
	color: #FFF;
	text-transform: uppercase;
	font-size: 18px;
line-height: 18px;
font-weight: 400;
font-family: "Poppins";
padding: 8px 39px;
}
.product-img:hover .img-overlay .product-desc{
	margin-left: -10px;
}

/*aboutus section css*/
.left-about p{
font-size: 17px;
line-height: 30px;
color: #676767;
font-weight: 300;
font-family: "Poppins";
margin-bottom: 60px;
}
.about-section{
	align-items: center;
}
.left-about .heading-title{
	margin-bottom: 60px;
}
.about-right-img{
	position: relative;
}
.about-left-img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 50px;
	z-index: 99;
}
.about-right-img-1{
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -20px;
    z-index: -1;
}


/*larest section css*/
.latest-left h5{
	font-size: 45px;
line-height: 55px;
color: #000101;
font-weight: 400;
font-family: "Poppins";
text-align: right;
margin-bottom: 30px;
}
.latest-left h2{
font-size: 64px;
line-height: 21px;
color: #2acb78;
font-weight: 400;
font-family: "Roboto";
text-align: left;
margin-bottom: 50px;
}
.latest-right{
	position: relative;
}

.contact-left label{
padding-left: 15px;
margin-top: -5px
font-size: 16px;
line-height: 30px;
color: #000000;
font-weight: 400;
font-family: "Roboto";
text-align: center;
}
/*contact section css*/
.form-control{
	border: none;
    border-bottom: 1px solid #f7f7f7;
    outline: none;
    padding: 0 10px 10px;
    width: 100%;
    margin-bottom: 40px;
    box-shadow: 0.105px 1.997px 3px rgb(2 3 8 / 11%); 
}
.footer-title{
font-size: 25px;
line-height: 20px;
color: #fffcf4;
font-weight: 400;
font-family: "Poppins";
}
.footer p{
	font-size: 17px;
line-height: 33px;
color: #fffcf4;
font-weight: 400;
font-family: "Open Sans";
}
.footer{
	 background-color: #0f1521;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-60{
	margin-bottom: 60px;
}
.footer-field{
	margin-bottom: 20px;
	padding: 10px;
	width: 100%	;
}
.social-icon{
	margin-top: 20px;
	width: auto;
}
.footer-btn{
background-color: #24d278;
    color: white;
    padding: 12px 20px;
    text-transform: uppercase;
}	
.mx-auto{
	margin-left: auto;
	margin-right: auto;
}
.about-shop li{
font-size: 17px;
line-height: 20px;
color: #fffcf4;
font-weight: 400;
font-family: "Open Sans";
margin-bottom: 15px;
}
.about-shop li i{
	color: white;
	margin-right: 15px;
}
.footer{
	padding: 55px 0px;
}
.footer-logo{
font-size: 51px;
line-height: 50px;
text-transform: uppercase;
color: #fdfeff;
font-weight: 700;
font-family: "Open Sans";
padding-bottom: 45px;
border-bottom: 2px solid #fff;
margin-bottom: 60px;
text-align: center;
display: block;		
}

.copy-right{
	font-size: 17px;
line-height: 26px;
color: #171717;
font-weight: 400;
font-family: "Roboto";
text-align: center;
padding: 30px 0px;
}
/*testimoial section
h here	*/
.profile-info{
display: flex;
align-items: center;
margin-bottom: 30px;
}
.profile-info h6{
	font-size: 20px;
line-height: 20px;
color: #090909;
font-weight: 700;
font-family: "Poppins";
margin-bottom: 10px;	
}
.profile-info img{
	margin-right: 20px;
	width: auto;
}
.profile-info p{
	font-size: 17px;
line-height: 17px;
color: #24d278;
font-weight: 400;
font-family: "Open Sans";
}
.testimonial-part p{
		font-size: 17px;
line-height: 31px;
color: #090909;
font-weight: 400;
font-family: "Open Sans";
margin-bottom: 30px;
}
.testimonial-part{
	background: #f4f5f7;
	   padding: 45px;
}
.testimonial-part:hover{
		box-shadow: 0 0 69.5px rgb(2 3 8 / 11%);
    background-color: #fdfeff;
    padding: 45px;
}

.testimonial-slider img{
	width: auto;
}
section.testmonial-block {
    margin: 100px 0px;
}
.mobile-menu-list{
	background: #FFF;
	position: relative;
	width: 100%;
	display: none;	
}
.mobile-menu-list ul li{
	display: block;
	padding: 10px;
	width: 100%;
}
/*mobile menu css*/
.tab p{
font-size: 21px;
line-height: 21px;
color: #24d278;
font-weight: 400;
font-family: "Poppins";
text-align: center;
margin-right: 30px;
cursor: pointer;
}
.tab p span{
	margin-left: 5px;
}
.tab h6{
	font-size: 25px;
line-height: 131px;
color: #121212;
font-weight: 400;
font-family: "Poppins";
}
.tab-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tabcontent.view-img{
	display: block;
}
.tabcontent{
	display: none;
}
section.tab-examples {
    padding: 100px 0px;
}
.tab .active h6{
	color: #24d278;
}
.mb-0{
	margin-bottom: 0px;
}
.mobile-menu{
		display: none !important;
	}
@media screen and (min-width: 992px){
	.mobile-menu-list{
		display: none;	
	}

}
@media screen and (max-width: 1199px){
	.menu-list ul li a, .mobile-menu-list ul li a{
		padding-right: 10px;
	}
}

@media screen and (max-width: 991px){
	.col-3.product-img, .col-7 .left-about, .col-5 .about-right-img, .footer .col-3{
		width: 50%;
	}
		.contact-left form, .col-6.contact-right{
			width: 100%;
		}
		.latest-left h2{
			font-size: 42px;
		}
	.about-right-img-1{
		display: none;
	}
	.testimonial-part{
		width: 100%;
		margin-bottom: 30px;
		}
		.nav-main{
			padding: 0 30px;
		}
		.menu-list{
			display: none;	
		}
		.mobile-menu{
		display: inline-block !important;
	}
		.col-6.contact-left{
			width: 100%	;
		}
		.play-btn {
    display: none;
}
.banner-content h1{
	font-size: 50px;
}
.banner-div{
	display: block;
	text-align: center;
}
.banner-chair-img img{
display: block;
margin: 0 auto;
margin-top: 50px;
}

}
@media screen and (max-width: 767px){
	.col-3.product-img, .col-7 .left-about, .col-5 .about-right-img, .latest-left, .latest-right, .footer .col-3, .col-7, .col-5		{
		width: 100%;
	}
	.nav-main{
			padding: 0 15px;
		}
		.container{
			width: 100%;
		}
		.col-7.left-about {
    width: 100%;
}
.banner-content h1{
	color: white;
}
.banner-content h6{
	color: #fff;
}
.about-right-img {
    width: 100%;
    margin-top: 50px;
}
.navbar-brand a{
	color: #FFF;
}
.col-7.left-about {
    width: 100%;
}
.about-right-img {
    width: 100%;
    margin-top: 50px;
}
.navbar-brand{
	margin-bottom: 10px;
}
.slick-dots {
    bottom: -83px;
}
.latest-left h5{
	text-align: left;
}
.navbar-brand{
color: #ffffff;
    background: none;
    -webkit-text-fill-color: white;
    margin-right: 0;
    }
}